<main class="page-main" role="main">
  <div class="page-main__wrapper">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% block page_main_content %}
    {% endblock %}
  </div>
</main>
