.navigation {
  position: relative;
  @include z-index(navigation);

  @include to($breakpoint--mobile) {
    height: $header-height-s;
  }

  &__toggle {
    cursor: pointer;

    @include to($breakpoint--mobile) {
      position: relative;
      transform: none;
      display: flex;
      align-items: center;
      justify-content: center;

      width: $icon-container-size-s;
      height: $icon-container-size-s;

      margin-right: ($icon-container-size-s - $icon-size--s) * -0.5;

      @include z-index(navigation-toggle);

      .icon--menu-close {
        display: none;
        .navigation--open & {
          display: block;
        }
      }

      .icon--menu-open {
        display: block;
        .navigation--open & {
          display: none;
        }
      }
    }

    @include from($breakpoint--desktop) {
      display: none;
    }
  }

  &__content {
    position: relative;
    @include z-index(navigation-content--desktop);

    @include to($breakpoint--mobile) {
      @include z-index(navigation-content--mobile);
      position: fixed;
      left: 0;
      top: $header-height-s;
      width: 100%;

      overflow-y: scroll;
      background-color: $color--white;

      visibility: hidden;
      transform: translateY(-100%);
      opacity: 0;
      transition: transform $animation--duration--m $animation--timing--default, opacity $animation--duration--m $animation--timing--default, visibility 0s linear $animation--duration--m;

      body.navigation--open & {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        transition: visibility 0s, transform $animation--duration--m $animation--timing--default, opacity $animation--duration--m $animation--timing--default;
      }
    }
  }
}

body.navigation--open {
  overflow-y: hidden;
}
