<div class="navigation">
  <div class="navigation__content">
    {% block navigation %}
      {% embed '@components/03-modules/menu/menu.twig' with {

      } %}
      {% endembed %}
    {% endblock %}
  </div>
  <div class="navigation__toggle">
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-close' } %}{% endembed %}
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-open' } %}{% endembed %}
  </div>
</div>
