<div class="navigation">
  <div class="navigation__content">
    {% block navigation %}
      {{ content }}
    {% endblock %}
  </div>
  <div class="navigation__toggle">
    {% embed '@components/03-modules/icon/icon-inline.twig' with { name: 'menu-close' } %}{% endembed %}
    {% embed '@components/03-modules/icon/icon-inline.twig' with { name: 'menu-open' } %}{% endembed %}
  </div>
</div>
