<div class="navigation">
  <div class="navigation__content">
    {% block navigation %}
      {% embed '@components/03-modules/menu/menu.twig' with {
        menu_name: main_menu.menu_name,
        attributes: main_menu.attributes,
        modifier: main_menu.modifier,
        items: main_menu.items,
      } %}
      {% endembed %}
    {% endblock %}
  </div>
  <div class="navigation__toggle">
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-close' } %}{% endembed %}
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-open' } %}{% endembed %}
  </div>
</div>
