.page-main {
  flex: 1 0 auto;
}

.page-main__wrapper {
  max-width: $max-width;
  margin: $main-margin-top-m auto $gutter-double;
  padding: 0 $page-margin-medium;
  position: relative;

  @include from(m) {
    padding: 0 $gutter;
  }
}

#main-content {
  display: block;
}
