.page-footer {
  box-sizing: border-box;
  min-height: $footer-height-s;

  @include clearfix;

  @include from(l) {
    min-height: $footer-height-m;
  }
}

.page-footer__wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include to(m) {
    padding: 0 $page-margin-s;
  }

  @include from(l) {
    padding: 0 $page-margin-m;
  }
}
