.page-footer {
  box-sizing: border-box;
  min-height: $footer-height-s;

  @include clearfix;

  @include from(m) {
    min-height: $footer-height-m;
  }
}

.page-footer__wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem $gutter;
}
