.page-main {
  flex: 1 0 auto;
}

.page-main__wrapper {
  max-width: $max-width;
  position: relative;

  @include to($bp-mobile) {
    padding: 0 $page-margin-s;
    margin: $main-margin-top-s auto $main-margin-bottom-s;
  }

  @include from($bp-desktop) {
    padding: 0 $page-margin-m;
    margin: $main-margin-top-m auto $main-margin-bottom-m;
  }
}

#main-content {
  display: block;
}
