<select data-drupal-selector="edit-purchased-entity-0-attributes-attribute-ring-size" id="edit-purchased-entity-0-attributes-attribute-ring-size" name="purchased_entity[0][attributes][attribute_ring_size]" class="form-select required" required="required" aria-required="true">
  <option value="1" selected="selected">47</option>
  <option value="2">48</option>
</select>
