.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  @include z-index(header);

  transition: transform $animation--duration--s $animation--timing--default;

  @include to($breakpoint--mobile) {
    height: $header-height-s;
  }
  @include from($breakpoint--desktop) {
    height: $header-height-m;
  }

  &.headroom--pinned {
    transform: translate3d(0, 0, 0);

    .navigation--open & {
      transform: none;
    }
  }

  &.headroom--unpinned {
    transform: translate3d(0, -100%, 0);
  }

  .toolbar-fixed & {
    margin-top: 39PX;
  }

  .toolbar-tray-open & {
    margin-top: 79PX;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $page--margin--s;

    background-color: $color--white;

    @include from($breakpoint--desktop) {
      padding: 0 $page--margin--m;
    }
  }
}
