<header class="page-header" role="banner">
  <div class="page-header__wrapper">
    {% embed '@components/03-modules/logo/logo.twig' %}
    {% endembed %}
    {% block content %}
      {% embed  '@components/03-modules/navigation/navigation.twig' %}
      {% endembed %}
    {% endblock %}
  </div>
</header>
