<header class="page-header" role="banner">
  <div class="page-header__wrapper">
    {% embed '@components/03-modules/logo/logo.twig' %}
    {% endembed %}
    {% block content %}
      <p>Pleas overwrite content block in 04-layouts/header</p>
    {% endblock %}
    {% block navigation %}{% endblock %}
  </div>
</header>
