<div class="social-media-icons">
  {% include "@components/03-modules/social-media-icon/social-media-icon.twig" with {
    name: 'facebook',
    link: 'https://www.facebook.com/'
  } %}
  {% include "@components/03-modules/social-media-icon/social-media-icon.twig" with {
    name: 'instagram',
    link: 'https://www.facebook.com/'
  } %}
  {% include "@components/03-modules/social-media-icon/social-media-icon.twig" with {
    name: 'twitter',
    link: 'https://www.twitter.com/'
  } %}
</div>
