.tabs {
  display: block;
  padding-bottom: 0;
  overflow-x: auto;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: $border--default;
  }

  &__list-item {
    display: flex;
    align-items: center;
    position: relative;
    border: $border--default;
    border-bottom: none;
    margin-bottom: -$border-width;

    &:not(:first-of-type) {
      border-left: none;
    }

    &--active {
      border-bottom: $border-width solid $color--white;
      a {
        color: $color--font--highlight;
      }
    }

    a {
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: $gutter--xxs $gutter--xs;
      white-space: nowrap;
    }
  }

  a {
    text-decoration: none;
    color: $color--font--default;
  }
}
