{#todo: refactor to _bem: tab__list-item#}
<nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
  <ul class="tabs__list">
    {% for item in items %}
      {% if item['#active'] %}
        <li class="tabs__list-item tabs__list-item--active"> {{ item }}</li>
      {% else %}
        <li class="tabs__list-item">{{ item }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
