h1 {
  @include font-style(heading-m);
  margin: 0 0 $gutter--m;
}

h2 {
  @include font-style(heading-m);
  margin: 0 0 $gutter--s;
}

h3 {
  @include font-style(heading-m);
  margin: 0 0 $gutter--s;
}

h4 {
  @include font-style(heading-m);
  margin: 0 0 $gutter--s;
}
