<div class="map">
  <a href="https://www.google.ch/maps/place/enSoie+Z%C3%BCrich/@47.372318,8.540527,15z/data=!4m5!3m4!1s0x0:0x5029f0d753c43fb6!8m2!3d47.372318!4d8.540527" target="_blank">
    {% block content %}
      {{ content }}
    {% endblock %}
  </a>
</div>
