.icon {
  @include icon-size($icon-size--s);

  @include from($breakpoint--desktop) {
    @include icon-size($icon-size--m);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  &--inline {
    //@include icon-size-height(#{$font--cap-height}em);
  }

  &--logo {
    height: $header-height-m;
    width: $header-height-m;
    svg {
      fill: #000;
      --primary-color: #fff;
    }
  }
}
