//$font-directory: "../../fonts/" !default;
//
//@font-face{
//  font-family: "ensoie";
//  src: url("#{$font-directory}ensoieeot?#iefix");
//  src: url("#{$font-directory}ensoie.eot?#iefix") format("eot"),
//  url("#{$font-directory}ensoie.woff") format("woff"),
//  url("#{$font-directory}ensoie.ttf") format("truetype");
//  font-weight: normal;
//}


/* Fonts */
$font--helvetica: Helvetica Neue,Helvetica,Arial,sans-serif;
$font--base: $font--helvetica;


$font--size--base: 16px;
$font--line-height--base: 20px;
$font--rhythm-unit: 'rem';
$font--cap-height: 0.705;
$font--cap-offset: -0.2;


/* Font sizes*/

$font--sizes: (
  xs: (
    font-size: 14px,
    line-height: 1.5em,
  ),
  s: (
    font-size: 16px,
    line-height: 1.5em,
  ),
  m: (
    font-size: 18px,
    line-height: 1.5em,
  ),
  heading-s: (
    font-size: 24px,
    line-height: 1.5em,
  ),
  heading-m: (
    font-size: 36px,
    line-height: 1.5em,
  ),
);

$font--styles: (
  s: (
    xs: xs,
    l: s,
  ),
  m: (
    xs: s,
    l: m,
  ),
  heading-m: (
    xs: heading-s,
    l: heading-m,
  ),
);
