html {
  height: 100%;

  @include to($breakpoint--mobile) {
    @include fluid-size(
      $min-viewport-width: $breakpoint--s,
      $max-viewport-width: $breakpoint--l,
      $min-value: map-deep-get($font--sizes, s, font-size),
      $max-value: map-deep-get($font--sizes, m, font-size)
    );
  }

  @include from($breakpoint--desktop) {
    @include fluid-size(
      $min-viewport-width: $breakpoint--l,
      $max-viewport-width: 1920px,
      $min-value: map-deep-get($font--sizes, m, font-size),
      $max-value: map-deep-get($font--sizes, m, font-size) * 1.2
    );
  }
}
