html {
  height: 100%;

  @include to($breakpoint--mobile) {
    @include fluid-size(
      $min-viewport-width: 500px,
      $max-viewport-width: $breakpoint--l,
      $min-value: 16px,
      $max-value: 16px * 1.4
    );
  }

  @include from($breakpoint--desktop) {
    @include fluid-size(
      $min-viewport-width: 1280px,
      $max-viewport-width: 1920px,
      $min-value: 16px,
      $max-value: 16px * 1.2
    );
  }
}


