table {
  width: 100% !important;
  border: 0;
}

th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

td {
  border: 0;
}

th,
td {
  padding: 0 10px;
  vertical-align: top;

  @include to($breakpoint--mobile) {
    padding: 0;
    //display: block;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

tr {
  &:first-child {
    td,
    th {
      > :first-child {
        margin-top: 0;
      }
    }
  }
}

tbody {
  border-top: none;
}
