%svg-common {
	background: url(sprite.svg) no-repeat;
}

.svg-images--menu-close-white {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-images--menu-close-white-dims {
	width: 32px;
	height: 32px;
}

.svg-images--menu-open-white {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-images--menu-open-white-dims {
	width: 32px;
	height: 32px;
}

