<header class="page-header" role="banner">
  <div class="page-header__wrapper">
    {% block content %}
      <p>Pleas overwrite content block in 03-modules/page/header</p>
    {% endblock %}
    {% block navigation %}
      <p>Please overwrite navigation block in 03-modules/page/header</p>
    {% endblock %}
  </div>
</header>
