.page-footer {
  box-sizing: border-box;

  @include to($breakpoint--desktop) {
    min-height: $footer-height-s;
  }

  @include from($breakpoint--desktop) {
    min-height: $footer-height-m;
  }
}

.page-footer__wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem $page--margin--s 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include from($breakpoint--desktop) {
    padding: $footer-padding-m $page--margin--m;
  }
}
