.page-footer {
  box-sizing: border-box;
  min-height: $footer-height-s;

  @include from($breakpoint--desktop) {
    min-height: $footer-height-m;
  }

  &__wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem $page--margin--s 2rem;

    @include from($breakpoint--desktop) {
      padding: 0 $page--margin--m;
    }
  }
}
