<footer class="page-footer" role="contentinfo">
  <div class="page-footer__wrapper">
    {% block content %}
      <p>Please overwrite content in 04-layouts/footer</p>
    {% endblock %}
  </div>
</footer>
