@mixin button() {
  display: inline-block;
  color: $white;
  background-color: $black;
  padding: 10px 35px;
  text-align: center;

  margin-top: 5px;
  border: none;
  cursor: pointer;

  @include from(m) {
    padding: 10px 50px;
    margin-top: 10px;
  }
}

@mixin print($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value
  }
}

@mixin font-style($name, $font-styles: $font-styles, $font-sizes: $font-sizes) {
  $font-style: map-get($font-styles, $name);
  @include print-font-style($font-style, $font-sizes);
}

@mixin font-size($name, $font-sizes: $font-sizes) {
  $font-size: map-get($font-sizes, $name);
  @include print-font-size($font-size, $font-sizes);
}

@mixin print-font-style($font-style, $font-sizes: $font-sizes) {
  @each $breakpoint, $style in $font-style {
    $font-size: map-get($font-sizes, $style);
    @include from($breakpoint) {
      @include print($font-size);
    }
  }
}

@mixin print-font-size($font-size, $font-sizes: $font-sizes) {
  @include from(xs) {
    @include print($font-size);
  }
}

// REM CALC
@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 {
    @return convert-to-rem(nth($values, 1), $base-value);
  }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

// CONVERT TO REM
@function convert-to-rem($value, $base-value: $rem-base) {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) {
    $value: 0;
  }
  // Turn 0rem into 0
  @return $value;
}

// STRIP UNIT
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin hide-text() {
  $approximate-em-value: 12px / 1em;
  $wider-than-any-screen: -9999em;
  text-indent: $wider-than-any-screen * $approximate-em-value;
  overflow: hidden;
  text-align: left;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


// icon fitters
@mixin icon-center {
  position: relative;
  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin icon-fit-width {
  width: $icon-container-size-m;
  height: $icon-container-size-m;
  max-width: 100%;
  & > svg {
    width: 100%;
    height: auto;
  }
}

@mixin icon-fit-height {
  width: $icon-container-size-m;
  height: $icon-container-size-m;
  max-height: 100%;
  & > svg {
    width: auto;
    height: 100%;
  }
}
