/* Colors */

$white: #fff;
$black: #000;

$grey: #898989;

$status-light: #f3faef;
$status-medium: #77b259;
$status-dark: #325e1c;

$warning-light: #fdf8ed;
$warning-medium: #e09600;
$warning-dark: #734c00;

$error-light: #fcf4f2;
$error-medium: #e62600;
$error-dark: #a51b00;

$font-color-default: $black;
$font-color-highlight: $grey;
$font-color-highlight-active: $grey;

/* Media Queries */

$max-width: 1200px;

$bp-s: 320px;
$bp-m: 640px;
$bp-l: 960px;
$bp-xl: 1080px;
$bp-xxl: 1200px;
$bp-xxxl: 1430px;

$bp-height-m: 800px;

$slicer-breakpoints: 0 $bp-s $bp-m $bp-l $bp-xl;

//                          └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:                1           2           3           4           5
$slicer-breakpoint-names: 'xs' 's' 'm' 'l' 'xl';

/* Fonts */

$font-helvetica: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$font-base: $font-helvetica;

/*
Font sizes
*/

$base-font-size: 16px;
$base-line-height: 20px;
$rhythm-unit: 'rem';
$font-cap-height: .714;

$font-sizes: (
  xs: (
    font-size: 16px,
    line-height: 20px,
  ),
  s: (
    font-size: 18px,
    line-height: 24px,
  ),
  m: (
    font-size: 24px,
    line-height: 32px,
  ),
  l: (
    font-size: 36px,
    line-height: 48px,
  ),
);

$font-styles: (
  s: (
    xs: xs,
    l: s,
  ),
  m: (xs: s,
    l: m,
  ),
  l: (
    xs: m,
    l: l,
  ),
);

/* Grids */

$gutter-s: 10px;
$gutter-m: 20px;
$gutter-l: 30px;

$page-margin-s: 10px;
$page-margin-m: 20px;
$page-margin-l: 30px;

/* Animations */

$animation-duration-s: .2s;
$animation-duration-m: .4s;
$animation-duration-l: .6s;

$animation-timing-default: ease;

$opactiy-l: .25;
$opactiy-m: .5;
$opactiy-s: .75;

/* Sizes */

$border-width: 1px;
$border-radius: 3px;

$header-height-s: 50px;
$header-height-m: 70px;

$main-vertical-margin-s: 20px;
$main-vertical-margin-m: 40px;

$main-margin-top-s: $main-vertical-margin-s + $header-height-s;
$main-margin-top-m: $main-vertical-margin-m + $header-height-m;
$main-margin-bottom-s: $main-vertical-margin-s;
$main-margin-bottom-m: $main-vertical-margin-m;

$footer-height-s: 80px;
$footer-height-m: 50px;

$menu-padding: 30px;
$menu-item-padding: 8px;


/* Selectors */

/* icons */

$icon-size-s: 32px;
$icon-size-m: 64px;

$icon-container-size-s: 32px;
$icon-container-size-m: 64px;
