/*------------------------------------------------------
FORM
------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: $border-width solid $black;
  border-radius: $border-radius;
  line-height: normal !important;
  background: none;
  -webkit-appearance: none;
}

input[type="submit"] {
  @include button;
}

label {
  display: none;

  .js-form-type-checkbox > &,
  .js-form-type-item > & {
    display: inline;
  }
}

input,
textarea {
  @include input-placeholder {
    color: $font-color-default;
    opacity: 1;
  }
}
