.icon {
  width: $icon-container-size-m;
  height: $icon-container-size-m;
}
.icon--menu-close {
  display: none;
  .navigation--open & {
      display: block;
  }
}
.icon--menu-open {
  .navigation--open & {
      display: none;
  }
}


.icon--icon-wide {
  @include icon-fit-width;
  @include icon-center;
}

.icon--icon-tall {
  @include icon-fit-height;
  @include icon-center;
}
