.icon {
  display: inline-block;

  @include icon-size;
  svg {
    display: block;
  }
}

.icon--menu-close {
  display: none;
  @include icon-size-height(100%);

  .navigation--open & {
      display: block;
  }
}

.icon--menu-open {
  @include icon-size-height(100%);

  .navigation--open & {
      display: none;
  }
}
