/*------------------------------------------------------
LOGO
------------------------------------------------------*/

.logo {
  display: block;
  position: relative;
  height: 100%;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.icon--logo {
  @include icon-size-height(100%);
}
