/*------------------------------------------------------
NAVIGATION
------------------------------------------------------*/

.menu {
  list-style: none;
  margin: 0;
  padding: 0;


}

.menu--main {
  @include from(m) {
    display: flex;
  }

  .menu {

    @include clearfix;

    @include to(s) {
      opacity: 0;
      transition: opacity 0s $animation-timing-default;

      .navigation-open & {
        opacity: 1;
        transition-delay: $animation-duration-s;
      }
    }


  }

  li {

    @include from(m) {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.menu-item--active-trail a,
      a.is-active,
      a:hover,
      a:focus,
      a:active {
        opacity: 1;
      }
    }
    a {
      text-decoration: none;

      @include to(s) {
        display: block;
        padding: $menu-item-padding 0;
      }

      @include from(m) {
        display: inline-block;
        position: relative;
        line-height: $header-height-m;
        opacity: $opactiy-m;
      }
    }
  }
}
