/*------------------------------------------------------
MESSAGE
------------------------------------------------------*/

.messages {
  padding: 1em;
  margin: 1em 0;
}

.messages--status {
  background-color: $status-light;
  color: $status-dark;
  border: 1px solid $status-medium;
}

.messages--warning {
  background-color: $warning-light;
  color: $warning-dark;
  border: 1px solid $warning-medium;
}

.messages--error {
  background-color: $error-light;
  color: $error-dark;
  border: 1px solid $error-medium;
}
