/*------------------------------------------------------
NAVIGATION
------------------------------------------------------*/

.navigation {
  &__content {
    position: fixed;
    left: 0;

    width: 100%;

    z-index: -1;

    transition: transform $animation-duration-m $animation-timing-default;
    will-change: transform;
    background-color: white;

    overflow: hidden;
    box-sizing: border-box;

    @include to(m) {
      top: $header-height-s;
      padding: $page-margin-s;
      transform: translateY(-100%);
      margin-top: -#{$header-height-s};
    }

    @include from(l) {
      top: $header-height-m;
      padding: $page-margin-m;
      transform: translateY(-100%);
      margin-top: -#{$header-height-m};
    }

    .navigation--open & {
      transform: none;
      margin-top: 0;
    }
  }
}

.navigation__toggle {
  width: $header-height-s;
  height: $header-height-s;
  position: relative;
  right: -$page-margin-s;
  top: 0;
  cursor: pointer;

  @include from($bp-desktop) {
    display: none;
  }
}
