@mixin cell-styles {
  //border: 1px solid rebeccapurple;
  &:last-child {
    width: auto;
  }
}

.responsive-table {
  @include font-style(s);
  box-sizing: border-box;

  th {
    font-weight: normal;
    padding: 0;
    @include cell-styles;
  }

  td {
    padding: 0;
    @include cell-styles;
  }

  .payment-method-icon {
    display: none;
  }

  &--commerce-order-items {
    position: relative;
    margin-top: $gutter--s;

    .views-field-unit-price__number {
      @include breakpoint(max-width 450px) {
        display: none;
      }
    }

    td.views-field-quantity {
      width: 1%;
      padding-right: $gutter--xs;
      font-feature-settings: 'tnum';
      text-align: right;
    }
  }
}
