.media {

  &--video {
    width: 100%;
    height: 100vh;
    max-height: 54vh;
    position: relative;

    @include breakpoint(orientation portrait) {
      @include padding-bottom-hack(16/9, 'iframe');
    }

    @include breakpoint(orientation landscape) {
      overflow: hidden;
      iframe {
        background-color: black;
      }
    }

    iframe {
      width: 100% !important;
      height: 100% !important;
    }

    .news-post & {
      @include padding-bottom-hack(16/9, 'iframe');
    }
  }
}
