<div class="media{{ modifier ? ' media--' ~ modifier }}">
  {% block content %}
    <iframe src="https://player.vimeo.com/video/46926279" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% endblock %}
</div>
