input[type="text"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="button"],
input[type="submit"] {
  @include input-default-styles;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"] {
  display: block;
  width: 100%;
}

input[type="button"],
input[type="submit"] {
  height: $form-item--height--s;
  padding: 0 $form-item--padding--s;
  
  border: $border--default;
  @include from($breakpoint--desktop) {
    height: $form-item--height--m;
    padding: 0 $form-item--padding--m;
  }
}
