.form-item {
  /*&__wrapper {
    &--type-select {
      position: relative;
      &:after {
        content: "▾";
        position: absolute;

        right: 0.7em;
        top: 50%;
        transform: translateY(-50%);

        font-feature-settings: "ss03";
        font-family: $font--base;
        font-weight: normal;
      }
    }
  }*/
}
