<div class="form-item form-item--type-radio">
  {% embed "@components/02-elements/input/input--radio.twig" %}
  {% endembed %}
  {% embed "@components/02-elements/label/label.twig" %}
  {% endembed %}
</div>
