<div class="form-item form-item--type-checkbox">
  {% embed "@components/02-elements/input/input--checkbox.twig" with {
  } %}
  {% endembed %}
  {% embed "@components/02-elements/label/label.twig" %}
  {% endembed %}
</div>
